.blogs{
    padding: 2%;
}
.blogs h2{
    margin-top: 5px;
        margin-bottom: 5px;
}
.blogs h4{
    
    padding: 2%;
}
.blogs p{
    border:2px solid black;
    width: 70%;
    margin: auto;
    padding: 2%;
}